// Dropdown
.dropdown-menu {
  width: -moz-calc(100%);
  width: -webkit-calc(100%);
  width: calc(100%);

  li {

    a {
      white-space: normal;
    }

  }

}

// Basic animations: http://stackoverflow.com/questions/19503321/fade-effect-for-tabs-in-ui-bootstrap-angular-js
/* set reference point */
.tab-animation > .tab-content {
  position: relative;
}

/* set animate effect */
.tab-animation > .tab-content > .tab-pane {
  transition: 0.2s linear opacity;
}

/* overwrite display: none and remove from document flow */
.tab-animation > .tab-content > .tab-pane.active-remove {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}

/* opacity=0 when removing "active" class */
.tab-animation > .tab-content > .tab-pane.active-remove-active {
  opacity: 0;
}

/* opacity=0 when adding "active" class */
.tab-animation > .tab-content > .tab-pane.active-add {
  opacity: 0;
}

// Misc
.big-text {
  font-size: 36px;
}