<div class="row" ng-show="state.opened">
    <div class="col-lg-12">
        <div class="page-header">
            <h3>{{data.selectedRepository.name}}
                <small>{{data.selectedRepository.full_name}}</small>
            </h3>
        </div>
    </div>
</div>

<div class="row" ng-show="state.opened">
    <div class="col-lg-12">
        <uib-tabset active="state.active" class="tab-animation">

            <uib-tab index="0">
                <uib-tab-heading>
                    <h5>
                        <i class="glyphicon glyphicon-tag"></i> Repository details
                    </h5>
                </uib-tab-heading>
                <repository-details-basic
                        repository="data.selectedRepository"
                        control-functions="controlFunctions">
                </repository-details-basic>
            </uib-tab>

            <uib-tab index="1">
                <uib-tab-heading>
                    <h5>
                        <i class="glyphicon glyphicon-tasks"></i> Issues
                    </h5>
                </uib-tab-heading>
                <repository-issues
                        repository="data.selectedRepository"
                        control-functions="controlFunctions">
                </repository-issues>
            </uib-tab>

            <uib-tab index="2">
                <uib-tab-heading>
                    <h5>
                        <i class="glyphicon glyphicon-signal"></i> Visualization
                    </h5>
                </uib-tab-heading>
                <repository-visualization
                        repository="data.selectedRepository"
                        is-active="state.active==2">
                </repository-visualization>
            </uib-tab>

        </uib-tabset>
    </div>
</div>