<!--Description-->
<div class="col-lg-12">
    <br/>
    <blockquote>
        <p>{{repository.description}}</p>
    </blockquote>
</div>

<!--NOTE: these panels could be in a separate directive-->
<!--Owner panel-->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-github fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="big-text">{{repository.owner.login}}</div>
                    <div>Owner</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">
                    Git URL:&nbsp;
                    <a target="_blank" ng-href="{{repository.html_url}}">{{repository.html_url}}</a>
                </span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<!--Stars-->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-star fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="big-text">{{repository.stargazers_count}}</div>
                    <div>Stargazers</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">
                    Project home:&nbsp;
                    <a target="_blank" ng-href="{{repository.homepage}}">{{repository.homepage}}</a>
                </span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<!--Fork-->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-code-fork fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="big-text">{{repository.forks_count}}</div>
                    <div>Forks</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">
                    This repository in <span ng-if="!repository.fork">NOT </span>a fork itself
                </span>

                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>

<!--Issues-->
<div class="col-lg-3 col-md-6">
    <div class="panel panel-primary" ng-click="controlFunctions.selectTab(1)">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="big-text">{{repository.open_issues_count}}</div>
                    <div>Open issues</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">
                    View details
                </span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>