<!--Description-->
<div class="col-lg-12">
    <br/>

    <blockquote>
        <p>Show issues for this repository in date descending order</p>
        <p>Total: {{mc.numberOfPages}} page with {{mc.totalElement}} issues</p>
    </blockquote>

    <table class="table table-bordered table-striped table-hover"
           st-pipe="mc.callServer"
           st-table="mc.displayed"
           ng-if="mc.totalElement">

        <thead>
            <tr>
                <th>Created</th>
                <th>State</th>
                <th>Title</th>
                <th>By user</th>
                <th>Comments</th>
                <th>Link</th>
            </tr>
        </thead>

        <!--While not loading-->
        <tbody ng-show="!mc.isLoading">
            <tr ng-repeat="row in mc.displayed">
                <td>{{row.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{row.state}}</td>
                <td>{{row.title}}</td>
                <td>{{row.user.login}}</td>
                <td>{{row.comments}}</td>
                <td>
                    <span class="pull-left">
                        <a target="_blank" ng-href="{{row.html_url}}">{{row.html_url}}</a>
                    </span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </td>
            </tr>
        </tbody>

        <!--While loading-->
        <tbody ng-show="mc.isLoading">
            <tr>
                <td colspan="6" class="text-center">Loading ...</td>
            </tr>
        </tbody>

        <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="mc.itemsByPage" colspan="6"></td>
            </tr>
        </tfoot>

    </table>

</div>
