<!--Description-->
<div class="col-lg-12">
    <br/>
    <blockquote>
        <p>Some data visualization</p>
    </blockquote>
</div>

<div class="col-lg-6">

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-pie-chart fa-fw"></i>
            Statistics
        </div>
        <!-- /.panel-heading -->

        <div class="panel-body">
            <div class="chart-panel"
                 donut-chart
                 donut-data="data.donutChart"
                 donut-resize=true
                 donut-colors='["#c7254e","#31C0BE","#5BC0DE","#AA4589"]'>
            </div>
        </div>

    </div>

</div>
