<a>

    <div class="row">
        <div class="col-md-9">
            <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
            ({{match.model.full_name}})
        </div>
        <div class="col-md-3">
            <strong>{{match.model.stargazers_count}}</strong> stars
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <em><span ng-bind="match.model.description"></span></em>
        </div>
    </div>

</a>