<div class="input-group input-group-lg">

    <input type="text"
           placeholder="Press search or hit enter after at least 3 characters..."
           id="search-field"
           class="form-control"
           ng-model="data.repositorySearchValue"
           ng-change="controlFunctions.repositorySearchFieldChanged()"
           typeahead-is-open="state.typeaheadOpen"
           typeahead-loading="state.typeaheadHttpInProgress"
           typeahead-no-results="state.typeaheadNoResults"
           typeahead-min-length="3"
           typeahead-focus-first="false"
           typeahead-on-select="controlFunctions.selectRepository($item, $model, $label, $event)"
           ng-keypress="$event.which === 13 && controlFunctions.refreshRepositories()"
           typeahead-template-url="../view/typeahead/custom-typeahead.template.html"
           uib-typeahead="repository.name for repository in data.repositories"
           typeahead-click-open>

    <span class="input-group-btn">
        <button class="btn btn-default" type="button"
                ng-click="controlFunctions.refreshRepositories()">
            Search!
        </button>
    </span>

</div>